body {
    background-color:white;
}

#alignment {
    display:flex;
    align-items:center;
    flex-direction:column;
}

h1 {
    font-family:Helvetica, sans-serif;
    margin-left:20px;
}

#rights-container {
    width:85%;
}

.right-box {
    user-select:none;
    cursor:pointer;
    background-color:#f2f2f2;
    padding:5px 22px;
    border-radius:30px;
    margin:10px;
    filter:drop-shadow(1px 1px 7px rgba(0, 0, 0, 0.4));
    transition:filter 0.3s, background-color 0.3s;
    > h2 {
        font-family:Helvetica, sans-serif;
        /*margin:20px;*/
        color:#202123;
    }
    &:hover {
        background-color:white;
        filter:drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.6))
    }
}

.hidden {
    max-height:0px;
}

.shown {
    max-height:350px;
}

.info-box {
    overflow:hidden;
    transition:max-height 0.4s ease-in-out;
    > h3 {
        font-family:Helvetica, sans-serif;
        font-weight:bold;
    }
    > p {
        font-family:sans-serif;
    }
}